/* Container for cards for ABOUT ME */
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  /* card for overview */
  .card-Overview {
    display: flex;
    width: 45%;
    color: white;
    background-color: #000235;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
    font-size: 16px;
    
  }
  
  /* card for image in overview */
  .card-Overview img {
    width: 250px;
    height: 350px;
  }
  
  .card-Overview:hover {
    box-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 15px #ffffff,
                0 0 20px #ffffff;
  }
  
  
  
  /*card for skills*/
  .card-Skills {
  width: 45%;
  height: 350px;
  color: white;
  background-color: #000235;
  border: 2px solid#fff;
  border-radius: 30px;
  margin: auto;
  margin-top: 50px;
  }
  
  .card-Skills:hover{
    box-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 15px #ffffff,
                0 0 20px #ffffff;
  }
  
  .skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  }
  
  .skill-name {
  width: 120px;
  font-size: 16px;
  margin-left: 10px;
  }
  
  .skill-level {
  width: 100%;
  height: 16px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
  }
  
  .skill-percent {
  background: linear-gradient(#40c9ff,rgb(111, 0, 255)) ;
  height: 100%;
  }
  
  .skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
  }  
  
  
/*RESPONSIVENESS
/* Small devices- SAMSUNG S20, A12, S21, Pixel 6 PRO, iPhone 13 PRO  */
@media screen and (max-width: 767px) {
  .cards-container {
      flex-direction: column;
      align-items: center;
  }

  .card-Overview,
  .card-Skills {
      width: 90%;
      margin-top: 20px;
  }

  .card-Overview img {
      width: 45%; /* Set the image width to 100% for responsiveness */
      height: 400px; /* Maintain the aspect ratio */
      margin-top: 20px;
      order: -1; /* Move the image above the paragraph */
  }

  .card-Overview p {
      font-size: 16px;
      margin-right: 3px;
      margin-top: 10px; /* Add some space between the image and the paragraph */
  }
}






