.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(111, 0, 255),#000118);
    padding: 10px 20px; 
  }
  
  /* Image for navigation bar*/
  .navbar-img img{
    height: 100%; 
    width: 38%;
  }
  
  /* Style for the navigation menu*/
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight:bold;
    text-transform: uppercase;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .menu li {
    margin-right: 20px;
    white-space: nowrap;
  }
  
  .menu ul {
    float:right;
    display: flex;
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu a.active {
    outline: 3px solid rgb(30, 255, 0);
    outline-offset: -3px; /* Adjust the offset for the outline */
    color:white;
    border-radius: 10px;    
  }
  
  .menu a:hover{
    outline: 3px solid rgb(60, 210, 255);
    outline-offset: -3px; /* offset for the outline */
    color: #fff; /*text color on hover*/
    border-radius: 30px;
  }  
  
  
  /* For screens up to 900px width */
  @media (max-width: 900px) {
    .menu-icon {
        display: flex;
    }
  
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-image: linear-gradient(#000118,rgb(111, 0, 255));
        z-index: 1;
        padding: 10px 0;
    }
  
    .menu.active {
        display: flex;
    }
  
    .menu li {
        margin: 0;
        padding: 15px 20px;
        text-align: center;
    }
  
    .menu a {
        color: #fff;
    }
  
    .profile-img {
      width: 20%;
      height: 10%;
    }
  }
  
  
  /*Everything below is for when browser window is resized*/
  /* Style for the burger icon*/
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  .menu-icon {
    display: none; 
    flex-direction: column;
    cursor: pointer;
  }
  
  
  /* Style for the navigation menu*/
  .menu {
    list-style: none;
    display: flex;  
  }
  
  .menu a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight:bold;
    text-transform: uppercase;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .menu li {
    margin-right: 20px;
    white-space: nowrap;
  }
  
  .menu ul {
    float:right;
    display: flex;
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  
  .menu a.active {
    outline: 3px solid rgb(30, 255, 0);
    outline-offset: -3px; /* Adjust the offset for the outline */
    color:white;
    border-radius: 10px;    
  }
  
  .menu a:hover{
    outline: 3px solid rgb(60, 210, 255);
    outline-offset: -3px; /* offset for the outline */
    color: #fff; /*text color on hover*/
    border-radius: 30px;
  }
  
  
  /* For screens up to 900px width */
  @media (max-width: 900px) {
    .menu-icon {
        display: flex;
    }
  
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-image: linear-gradient(#000118,rgb(111, 0, 255));
        z-index: 1;
        padding: 10px 0;
    }
  
    .menu.active {
        display: flex;
    }
  
    .menu li {
        margin: 0;
        padding: 15px 20px;
        text-align: center;
    }
  
    .menu a {
        color: #fff;
    }
  }