.navbar{
  position: fixed;
  width: 100%;
  z-index: 999; /* Adjust the z-index value as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(111, 0, 255), #000118);
  padding: 10px 10px;
}
  

/* Styling for the navigation menu*/
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu a {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight:bold;
    text-transform: uppercase;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .menu li {
    margin-right: 20px;
    white-space: nowrap;
  }
  
  .menu ul {
    float:right;
    display: flex;
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu a.active {
    box-shadow: 0 0 5px rgb(30, 255, 0),
                0 0 10px rgb(30, 255, 0),
                0 0 15px rgb(30, 255, 0),
                0 0 20px rgb(30, 255, 0);
    color:white;
    border-radius: 10px;    
    outline: 3px solid rgb(30, 255, 0);
    outline-offset: -3px;
  }


  .menu a:hover{
    box-shadow: 0 0 5px rgb(60, 210, 255),
                0 0 10px rgb(60, 210, 255),
                0 0 15px rgb(60, 210, 255),
                0 0 20px rgb(60, 210, 255);
    color: #fff; /*text color on hover*/
    border-radius: 30px;
    outline: 3px solid rgb(60, 210, 255);
    outline-offset: -3px; /* offset for the outline */
  }  

  
  /* Style for the burger icon*/
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    cursor: pointer;
    margin-right: 30px;
  }
  

  .menu-icon {
    display: none; 
    flex-direction: column;
    cursor: pointer;
  }
  

  

  
    /* For screens up to 797px width */
    @media (max-width: 797px) {
      .menu-icon {
          display: flex;
      }
    
      .menu {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 80px;
          left: 0;
          width: 100%;
          background-image: linear-gradient(black,rgb(111, 0, 255));
          z-index: 1;
          padding: 10px 0;
      }
    
      .menu a.active {
        box-shadow: 0 0 5px rgb(30, 255, 0),
                    0 0 10px rgb(30, 255, 0),
                    0 0 15px rgb(30, 255, 0),
                    0 0 20px rgb(30, 255, 0);
        color:white;
        border-radius: 10px;    
        outline: 3px solid rgb(30, 255, 0);
        outline-offset: -3px;
      }
    
      .menu li {
          margin: 0;
          padding: 15px 20px;
          text-align: center;
      }
    
      .menu a {
          color: #fff;
      }

      .menu-items {
        list-style: none;
        padding: 0;
      }
    
      .menu-items li {
        margin: 0;
        padding: 10px 15px;
        text-align: center;
      }
    
      .menu-items a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        transition: color 0.3s;
      }
    
      .menu-items a:hover {
        color: #fff;
        border-radius: 30px;
        outline: 3px solid rgb(60, 210, 255);
        outline-offset: -3px;
      }

    }
  