body {
  font-family: Arial, sans-serif;
  margin: 0;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000118;
  color: white;
}


/*navigation bar*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(111, 0, 255),#000118);
  padding: 10px 20px; 
}

/* Image for navigation bar*/
.navbar-img img{
  height: 100%; 
  width: 38%;
}

/* Style for the navigation menu*/
.menu {
  list-style: none;
  display: flex;
}

.menu a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight:bold;
  text-transform: uppercase;
  transition: color 0.3s;
  text-decoration: none;
}

.menu li {
  margin-right: 20px;
  white-space: nowrap;
}

.menu ul {
  float:right;
  display: flex;
}

.menu ul li {
  display: inline-block;
}

.menu a.active {
  outline: 3px solid rgb(30, 255, 0);
  outline-offset: -3px; /* Adjust the offset for the outline */
  color:white;
  border-radius: 10px;    
}

.menu a:hover{
  outline: 3px solid rgb(60, 210, 255);
  outline-offset: -3px; /* offset for the outline */
  color: #fff; /*text color on hover*/
  border-radius: 30px;
}  


/* For screens up to 900px width */
@media (max-width: 900px) {
  .menu-icon {
      display: flex;
  }

  .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-image: linear-gradient(#000118,rgb(111, 0, 255));
      z-index: 1;
      padding: 10px 0;
  }

  .menu.active {
      display: flex;
  }

  .menu li {
      margin: 0;
      padding: 15px 20px;
      text-align: center;
  }

  .menu a {
      color: #fff;
  }

  .profile-img {
    width: 20%;
    height: 10%;
  }
}


/*Everything below is for when browser window is resized*/
/* Style for the burger icon*/

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.menu-icon {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}


/* Style for the navigation menu*/
.menu {
  list-style: none;
  display: flex;  
}

.menu a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight:bold;
  text-transform: uppercase;
  transition: color 0.3s;
  text-decoration: none;
}

.menu li {
  margin-right: 20px;
  white-space: nowrap;
}

.menu ul {
  float:right;
  display: flex;
}

.menu ul li {
  display: inline-block;
}


.menu a.active {
  outline: 3px solid rgb(30, 255, 0);
  outline-offset: -3px; /* Adjust the offset for the outline */
  color:white;
  border-radius: 10px;    
}

.menu a:hover{
  outline: 3px solid rgb(60, 210, 255);
  outline-offset: -3px; /* offset for the outline */
  color: #fff; /*text color on hover*/
  border-radius: 30px;
}


/* For screens up to 900px width */
@media (max-width: 900px) {
  .menu-icon {
      display: flex;
  }

  .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-image: linear-gradient(#000118,rgb(111, 0, 255));
      z-index: 1;
      padding: 10px 0;
  }

  .menu.active {
      display: flex;
  }

  .menu li {
      margin: 0;
      padding: 15px 20px;
      text-align: center;
  }

  .menu a {
      color: #fff;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.home-container {
  width: 700px;
  border-radius: 0.75rem; 
  background-color: #000235;
  border: 2px solid white;
  color: rgba(243, 244, 246, 1);
  text-align: center;
  overflow: hidden;
}

.home-container:hover {
  box-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 15px #ffffff,
              0 0 20px #ffffff;
}



/*heading and line transition starts below*/
.heading {
  position: relative;
  font-size: 24px;
  text-align: center;
}

.text {
  display: inline-block;
  position: relative;
}

.text::before {
  content: "";
  position: absolute;
  bottom: -5px; /* Position the line just below the text */
  left: 0;
  width: 0;
  height: 4px;
  background-color: rgb(255, 0, 0); /*line color */
  transition: width 1s ease-in-out;
}

.text:hover::before, .text:focus::before {
  width: 100%; /* Line animation to cover the text */
}

@keyframes moveLine {
  0% {
      width: 100%;
      left: 0;
  }

  50% {
      width: 0; /* Line animation back to start */
      left: 50%;
  }

  100% {
      width: 100%; /* Line animation to cover the text again */
      left: 0;
      }
}

.text.autoplay::before {
  animation: moveLine 3s infinite; /* duration of the animation */
}


/* Styling for homepage image */
.profile-img {
  border-radius: 30px;
}


/*download my CV button*/
.download-button {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  box-sizing: border-box;  
}


/*everything below is for the form*/
.form-container {
  width: 750px;
  border-radius: 30px;
  background-color: #000235;
  border: 2px solid white;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form-container:hover {
  box-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 15px #ffffff,
              0 0 20px #ffffff;
}
    
/*this is to make it display as a column*/
.form {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  width: 100%; 
}
    
.form-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 25px;
}

/*all the input fields are grouped*/
.input-group {
  margin-top: 0.15rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column; /* Display input and label in a column */
}

/*input field labels*/
.input-group label { 
  display: block;
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
  margin-left: 100px;
}

/*input field styling*/
.input-group input, 
.input-group textarea {
  width: 42%;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #000220;
  padding: 12px;
  color: rgba(243, 244, 246, 1);
  margin-left: 100px;
}
   

.input-group input:focus, .input-group textarea:focus {
  border: rgb(60, 255, 0); /*color that outlines user is in the textfield*/
}

  
.submit {
  display: block;
  width: 50%;
  background-color: rgb(81, 255, 0);
  padding: 10px 20px;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: 1px solid #03f40f;
  background: linear-gradient(#fff,#40c9ff);
  border-radius: 30px;
  font-weight: 600; /*makes the text bold*/
  cursor: pointer;
  margin-left: 100px;
}


.submit:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}


.clear {
  display: block;
  width: 50%;
  background: linear-gradient(#fff,#40c9ff);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: 1px solid #f40303;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 100px;
  border-radius: 30px; 
}


.clear:hover {
  background: #f40303;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303,
              0 0 25px #f40303,
              0 0 50px #f40303,
              0 0 100px #f40303;
}



/* Container for cards for about me */
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

/* card for overview */
.card-Overview {
  display: flex;
  width: 45%;
  color: white;
  background-color: #000235;
  border: 2px solid #fff;
  border-radius: 30px;
  margin: auto;
  margin-top: 50px;
  font-size: 16px;
  
}

/* card for image in overview */
.card-Overview img {
  width: 250px;
  height: 350px;
}

.card-Overview:hover {
  box-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 15px #ffffff,
              0 0 20px #ffffff;
}


/*card for skills*/
.card-Skills {
width: 45%;
height: 350px;
color: white;
background-color: #000235;
border: 2px solid#fff;
border-radius: 30px;
margin: auto;
margin-top: 50px;
}

.card-Skills:hover{
  box-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 15px #ffffff,
              0 0 20px #ffffff;
}

.skill {
display: flex;
align-items: center;
margin-bottom: 20px;
}

.skill-name {
width: 120px;
font-size: 16px;
margin-left: 10px;
}

.skill-level {
width: 100%;
height: 16px;
background-color: #eee;
border-radius: 10px;
overflow: hidden;
margin-left: 20px;
}

.skill-percent {
background: linear-gradient(#40c9ff,rgb(111, 0, 255)) ;
height: 100%;
}

.skill-percent-number {
margin-left: 20px;
font-size: 16px;
}  

/* Container for cards */
.cards-container-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-project1 {
  width: 30%;
  height: auto;
  color: white;
  background-color: #000235;
  border-top: 2px solid#ff0000;
  border-left: 2px solid#ff0000;
  border-bottom: 2px solid#ff0000;
  border-radius: 30px;
  margin: auto;
}

.download-project-1 {
  display: block;
  width: 50%;
  background-color: rgb(81, 255, 0);
  padding: 10px 20px;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: 1px solid #03f40f;
  background: linear-gradient(#fff,#40c9ff);
  border-radius: 30px;
  font-weight: 600; /*makes the text bold*/
  cursor: pointer;
  margin-top: 45px;
  margin-bottom: 45px;
}

.download-project-1:hover {
background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}


.card-project2 {
  width: 30%;
  height: auto;
  color: white;
  background-color: #000235;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  border-radius: 30px;
  margin: auto;
}

.view-project-2 {
  display: block;
  width: 50%;
  background-color: rgb(81, 255, 0);
  padding: 10px 20px;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: 1px solid orange;
  background: linear-gradient(#fff,#40c9ff);
  border-radius: 30px;
  font-weight: 600; /*makes the text bold*/
  cursor: pointer;
  margin-left: 100px;
  margin-top: 20px;
}

.view-project-2:hover {
  background: orange;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px orange,
                0 0 25px orange,
                0 0 50px orange,
                0 0 100px orange;
  }

.download-project-2 {
  display: block;
  width: 50%;
  background-color: rgb(81, 255, 0);
  padding: 10px 20px;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: 1px solid #03f40f;
  background: linear-gradient(#fff,#40c9ff);
  border-radius: 30px;
  font-weight: 600; /*makes the text bold*/
  cursor: pointer;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.download-project-2:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}


.card-project3 {
  width: 30%;
  height: auto;
  color: white;
  background-color: #000235;
  border-top: 2px solid #03f40f;
  border-right: 2px solid #03f40f;
  border-bottom: 2px solid #03f40f;
  border-radius: 30px;
  margin: auto;
}

.download-project-3 {
  display: block;
  width: 50%;
  background-color: rgb(81, 255, 0);
  padding: 10px 20px;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: 1px solid #03f40f;
  background: linear-gradient(#fff,#40c9ff);
  border-radius: 30px;
  font-weight: 600; /*makes the text bold*/
  cursor: pointer;
  
  margin-top: 45px;
  margin-bottom: 45px;
}

.download-project-3:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.card-more {
  width: 45%;
  height: 100px;
  color: white;
  background-color: #000235;
  border: 2px solid #ffffff;
  border-radius: 30px;
  margin-top: 40px;
}


.book {
  position: relative ;
  width: 300px;
  height: 450px;
  background-color: #000235;
  border: 2px solid #ffffff;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  
}

.book:hover {
  box-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 15px #ffffff,
              0 0 20px #ffffff;
}


.cover {
  position: absolute;
  width: 300px;
  height: 450px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-86deg);
  -ms-transform: rotatey(-86deg);
  transform: rotatey(-86deg);
  
}

p {
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  justify-content:center ;
}


.book .cover img {
  width: 300px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}




/*everything below is for WORK EXPERIENCE*/
.container {
  display: flex;
  margin-left: 20px; /* Adjust this value to control the space between the line and cards */
}

.line-and-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 80px;    
  height: 80px; 
  margin-right: 6px; /* margin to control the space between the icon and the vertical line */
}

.vertical-line {
  width: 3px;
  height: 200px; /* total height of the cards and margins */
  background-color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-left: 60px; /* Spacing between line and cards */
}

.card-experience-Motivity {
  width: 800px;
  height: auto;
  color: white;
  background-color: #000235;
  border-top: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
  border-radius: 30px;
}

.card-experience-Motivity:hover {
  box-shadow: 0 0 5px #ff0000,
              0 0 10px #ff0000,
              0 0 15px #ff0000,
              0 0 20px #ff0000;
}

.card-experience-UVU {
  width: 800px;
  height: auto;
  color: white;
  background-color: #000235;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  border-radius: 30px;
}

.card-experience-UVU:hover {
  box-shadow: 0 0 5px orange,
              0 0 10px orange,
              0 0 15px orange,
              0 0 20px orange;
}

.card-experience-ABSA {
  width: 800px;
  height: auto;
  color: white;
  background-color: #000235;
  border-bottom: 2px solid #03f40f;
  border-left: 2px solid #03f40f;
  border-right: 2px solid #03f40f;
  border-radius: 30px;
}  

.card-experience-ABSA:hover {
  box-shadow: 0 0 5px #03f40f,
              0 0 10px #03f40f,
              0 0 15px #03f40f,
              0 0 20px #03f40f;
}

p {
  font-size: 16px;
}
/*work experience ends here*/

/*footer*/
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(#000118,rgb(111, 0, 255));
  padding: 10px 20px; 
}





