/*everything below is for WORK EXPERIENCE*/
.container {
    display: flex;
    margin-left: 20px; /* Adjust this value to control the space between the line and cards */
  }
  
  .line-and-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    width: 80px;    
    height: 80px; 
    margin-left: 13px;
    margin-right: 13px; /* margin to control the space between the icon and the vertical line */
  }
  
  .vertical-line {
    width: 3px;
    height: 250px; /* total height of the cards and margins */
    background-color: white;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    margin-left: 35px; /* Spacing between line and cards */
  }
  
  .card-experience-Motivity {
    width: 1065px;
    height: auto;
    color: white;
    background-color: #000235;
    border-bottom: 2px solid #ff0000;
    border-left: 2px solid #ff0000;
    border-right: 2px solid #ff0000;
    border-radius: 30px;
    
  }
  
  .card-experience-Motivity:hover {
    box-shadow: 0 0 5px #ff0000,
                0 0 10px #ff0000,
                0 0 15px #ff0000,
                0 0 20px #ff0000;
  }
  
  .card-experience-UVU {
    width: 1065px;
    height: auto;
    color: white;
    background-color: #000235;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    border-radius: 30px;
  }
  
  .card-experience-UVU:hover {
    box-shadow: 0 0 5px orange,
                0 0 10px orange,
                0 0 15px orange,
                0 0 20px orange;
  }
  
  .card-experience-ABSA {
    width: 1065px;
    height: auto;
    color: white;
    background-color: #000235;
    border-top: 2px solid #03f40f;
    border-left: 2px solid #03f40f;
    border-right: 2px solid #03f40f;
    border-radius: 30px;
  }  
  
  .card-experience-ABSA:hover {
    box-shadow: 0 0 5px #03f40f,
                0 0 10px #03f40f,
                0 0 15px #03f40f,
                0 0 20px #03f40f;
  }
  
  p {
    font-size: 16px;
  }
  /*work experience ends here*/
  
  
  
  /*WORK EXPERIENCE RESPONSIVENESS*/
  @media only screen and (max-width: 414px) {
    .container {
      flex-direction: column;
      margin-left: 0;
    }
  
    .line-and-logos {
      align-items: center; /* Center icons in smaller screens */
    }
  
    .icon {
      margin: 10px 0; /* Adjusted margin for centering */
    }
  
    .card-container {
      margin-left: 0;
    }
  
    .card-experience-Motivity,
    .card-experience-UVU,
    .card-experience-ABSA {
      width: 100%;
      margin: 1px 0;
    }
  }